/* Колір головного тексту #212121*/
/*Колір другорядного тексту #757575*/
/*білий #FFFFFF*/
/*Акцент #2196F3*/
/*Колір фону головний #F5F5F5;*/
/*Колір фону другорядний #2F303A*/

:root{
   --primary-text-color:#757575;
   --secondary-text-color:#212121;
   --accent-color:#2196F3;
   --white-color:#FFFFFF;
   --background-color-main: #F5F5F5;
   --background-color-secondary: #2F303A;
   --filter-button-color:#F5F4FA;
 }
 
 h1,
 h2,
 h3,
 h4,
 p{
 margin-top: 0px;
 margin-bottom: 0px;
 }

 ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 

 *,*::before, *::after{
   box-sizing: border-box;
 }

 img{
   display: block;
   max-width: 100%;
   height: auto;
 }

 button{
   margin: 0 auto;
   display: block;
 }
 
 .page {
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   font-style: normal;
   letter-spacing: 0.03em;
   font-weight: 400;
   background-color: var(--white-color);
   max-width: 1600px;
   }

 .container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   }

 .logo {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
   font-size: 26px;
   line-height: 1.192;
   text-decoration: none;
   font-weight: 700;
 }
 
 .logo-accent {
   color: var(--secondary-text-color);
 }
 
 .logo:active{
   color: var(--secondary-text-color);
 }
 
 
 /*Навігація*/

 .header {
    
    border-bottom: 1px solid #ECECEC;
 }

 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

 }

 .header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 94px;
 }

 .header-menu {
    display: flex;
    gap: 50px;
 }

 .header-nav .link{
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 }
 
 .header-nav .link .current{
    color: var(--secondary-text-color);
 }
 
 .header-nav .link:hover,
 .header-nav .link:focus{
    color: var(--accent-color);
 }

 

 /*Контакти*/
 .header-contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 
 .contact-menu .header-contacts .current{
    color: var(--primary-text-color);
 }
 
 .contact-menu .header-contacts:hover,
 .contact-menu .header-contacts:focus{
    color: var(--accent-color);
 }

 .contact-menu{
   display: flex;
   gap: 50px;
 }
  
 /*Icons*/

.contact-icons{
   margin-right: 10px;
   fill: currentColor;
}

.contact-icons:hover, 
.contact-icons:focus{
 fill:#2196F3;
}


.icon-place{
   max-width: 270px;
   height: 120px;
   background-color: #F5F4FA;
   border-radius: 4px;
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
   padding-top: 25px;
   
}





/*Герой*/
 .hero-section{
   padding: 200px 0;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
   background-color: var(--background-color-secondary);
   background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/Img.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   }
    


 .hero-title {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
 
 .hero-button:active {
    color: var(--background-color-secondary);
 }

 .hero-button:hover,
 .hero-button:focus{
  background-color: blue;
  color: var(--white-color);
 }
  
 .hero-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    border:none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    letter-spacing: 0.06em;
    padding: 10px 24px;
 }

 
 /*Section*/
 .section{
   padding-top: 94px;
   padding-bottom: 94px;
 }



 .section:nth-child(4){
   background-color: var(--filter-button-color);
 }

 .section:nth-child(3){
   padding-top: 0px;
 }

 
 /*Advantages*/
 .advantages-section-title{
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.143;
    font-weight: 700;
    margin-bottom: 10px;
 }
 
 .advantages-list-text{
    line-height: 1.714;
    font-size: 14px;
 }

 .advantages-list {
   display: flex;
   gap: 30px;
  }

 .advantages-item{
   flex-basis: calc((100% - 2*30px) / 3);
 }

 
 
  /*Work*/

 .work-section-title {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
 }
  

 .work-item{
 flex-basis: calc((100% - 2*30px) / 3);
 }

 .work-list {
   display: flex;
   gap: 30px;
 }
  
 /*Team*/
 
 .team-section{
   background-color: var(--filter-button-color);
 }
 
 .team-section-title{
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    font-weight: 700;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
 }
 
 .team-secondary-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    text-align: center;
  
 }

 .team-list-text{
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    margin-bottom: 16px;
   
 }

 .team-item {
    
    background-color: var(--white-color);
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   
 }

 .team-list{
   display: flex;
   gap: 30px;
}

.team-icon-place{
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   width: 44px;
   height: 44px;
   background-color: transparent;
   border: none;
   
   
  
}

.team-icon-place:hover,
.team-icon-place:focus {
   background-color: #2196F3;
}

.team-icon-item{
flex-basis: calc((100% - 3*10px) / 4);
padding-left: 12px;


}

 .team-picture{
  display: block;
  margin-bottom: 30px;

 }

 .team-icon-place {
    max-width: 44px;
    height: 44px;
    display: flex;

    width: 44px;

 }

 .team-icon-list {
    display: flex;
    justify-content: center;

 }

 /*Клієнти*/

 .clients-section-title{
   color: var(--secondary-text-color);
   text-align: center;
   font-size: 36px;
   line-height: 1.166;
   font-weight: 700;
   margin-bottom: 50px;
 }

 .clients-icon-place{
   max-width: 170px;
   height: 92px;
   border: 1px solid rgba(175, 177, 184, 1);
   padding-left: 32px;
   padding-right: 32px;
   padding-bottom: 16px;
   padding-top: 16px;
   cursor: pointer;
   border-radius: 4px;
   
 }

 .clients-icon-place:hover,
 .clients-icon-place:focus {
    border-color: #2196F3;
 }

 .client-icon-list {
    display: flex;
    justify-content: center;
    gap: 30px;

 }

 .client-item {
    display: flex;
    flex-basis: calc((100% - 5*30px) / 6);
}


 .client-icon {
    fill: #AFB1B8;
 }

 .client-icon:hover,
 .client-icon:focus {
    fill: #2196F3;
 }




 /*Підвал*/

 .logo-footer-accent{
    color: var(--white-color);
 }
  .address{
   margin-top: 28px;
  }
 
  .adress-text{
    font-style: initial;
    margin-bottom: 12px;
 }
 
 .footer-list{
    background-color: var(--background-color-secondary);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    padding-top: 60px;
    padding-bottom: 60px;
    
 }
 
 .footer-contact{
    color: #FFFFFF;
    font-style: normal;
    text-decoration: none;
 }

 .mail-item{
   margin-bottom: 12px;
 }

 .footer-contacts:hover,
 .footer-contacts:focus{
    color: var(--accent-color);
 }
 
 .footer-container{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   
   }
 

   .join{
      color: var(--white-color);
      text-transform: uppercase;
      font-weight: 700px;
      font-size: 14px;
      line-height: 1.14;
      margin-top: 12px;
      margin-bottom: 20px;
      
   }

   .join-social{
      margin-left: 70px;

   }

  .join-list-icon{
   display: flex;
   gap: 10px;
   
  }

   .social-icon-place{
      align-items: center;
      width: 44px;
      height: 44px;
      padding: 12px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      cursor: pointer;
      
   }

   .social-icon-place:hover,
   .social-icon-place:focus{
      background-color: #2196F3;
   }
 
       
      .social-footer-icon{
         fill: #FFFFFF;
      }
 
.social-icon {
   fill: #AFB1B8;
}



   /*Сторінка портфоліо*/
 
 
 .visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }

 /*Button*/
 
 .portfolio-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    font-family: inherit;
    display: flex;
    gap: 8px;
    margin: 0 auto;
 }
 
 
 .button-container{
   display: flex;
   margin-bottom: 34px;
 }

 
 .filter-button{
    color: var(--secondary-text-color);
    background-color: var(--filter-button-color);
    border:none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    border-radius: 4px;
   border: 1px solid transparent;
   padding: 6px 22px;
 }
 
 .filter-button:active{
    color: var(--white-color);
 }
 
 .filter-button:hover,
 .filter-button:focus{
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.1);
 }
  
 /*portfolio*/
 .portfolio-list-title{
    color: var(--secondary-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 4px;
 }
 
 .portfolio-list-text{
    font-size: 16px;
    line-height: 1.875;
 }
 
 ul{
    list-style: none;
 }


 .portfolio-list{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
 }
 
 .portfolio-item{
   flex-basis width: calc((100% - 2*30px) / 3);
 }

 .portfolio-item:hover,
 .portfolio-item:focus{
   box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
 }

 .portfolio-text{
   border-bottom: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
   border-left: 1px solid #EEEEEE;
   padding-left: 24px;
   padding-bottom: 20px;
   padding-top: 20px;
 }

  
